.nav {
  overflow: hidden;
  background-color: #3A3635;
  padding: 10px 10px;
}

/* Style the header links */
.nav a {
  float: left;
  color: #E3D5D1;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.nav a:hover {
  background-color: #4F4948;
  color: #E3D5D1;
}

/* Style the active/current link*/
.nav a.active {
  background-color: #6B6361;
  color: white;
}

/* Float the link section to the right */
.nav-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-right {
    float: none;
  }
}
